.App {
  background-color: var(--COLOR-GRAY);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}
.modal-content input{
  padding: 10px;
}
.modal-content button{
  padding: 10px !important;
  background: orange !important;
}
